<mat-toolbar color="primary">
    <mat-toolbar-row  class="toolbar" >
         <span *ngIf="editProfile==false">Add New User</span>
         <span *ngIf="editProfile==true">Update User</span>
    </mat-toolbar-row>
</mat-toolbar>

<form name="form" [formGroup]="profileFormGroup" (ngSubmit)="submit(profileModel)" autocomplete="off">

    <div class='container' fxLayout="column" >

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="50" class="pr-10">
                <mat-label>FirstName</mat-label>
                <input matInput formControlName="firstName" [(ngModel)]="profileModel.firstName" required>
                <mat-error>FirstName is required!</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="pr-10">
                <mat-label>LastName</mat-label>
                <input matInput formControlName="lastName" required  [(ngModel)]="profileModel.lastName">
                <mat-error>LastName is required!</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="50" class="pr-10">
                <mat-label>DOB</mat-label>
                <input matInput formControlName="dob" required  [(ngModel)]="profileModel.dob">
                <mat-error>DOB pattern "YYYY/MM/DD"</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="50" class="pr-10">
                <mat-label>UserName</mat-label>
                <input matInput formControlName="userName" required  [(ngModel)]="profileModel.userName">
                <mat-error>UserName is required!</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
            <mat-form-field fxFlex="50" class="pr-10">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required [(ngModel)]="profileModel.password">
                <mat-error>Password is min length 5!</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" class="btnclass">

           <div>
            <button mat-raised-button color="primary" type="submit" class="btnpopup">Confrom</button>
           </div>

           <div>
            <button mat-raised-button color="primary"  class="btnpopup" (click)="close()">Cancel</button>
            </div>
        </div>    


    </div>

</form>